@{
    Layout = null;
}
 <!-- About -->
<div class="pb-0 pb-sm-2">
    <h1 class="title title--h1 title__separate">@Resources.Lable.ContactMe</h1>
</div>

<!-- Contact  Just 5 Social is OK-->
<div class="container" style="margin-bottom:2.3rem;">
    <div class="row justify-content-md-center">
        <!--Social Media -->
        <div class="social-animation" onmouseover="mousetopointer(this)">
            <img src="~/assets/images/social/Linkedin.png" />
            <h4 >alasdsadasds</h4>
        </div>

        <!--Social Media -->
        <div class="social-animation" onmouseover="mousetopointer(this)">
            <img src="~/assets/images/social/Github.png" />
            <h4 >alasdsadasds</h4>
        </div>

        <!--Social Media -->
        <div class="social-animation" onmouseover="mousetopointer(this)" onclick="opensocial('linkedin')">
            <img src="~/assets/images/social/Telegram.png" />
            <h4>alasdsadasds</h4>
        </div>

        <!--Social Media -->
        <div class="social-animation" onmouseover="mousetopointer(this)">
            <img src="~/assets/images/social/Stackoverflow.png" />
            <h4>alasdsadasds</h4>
        </div>

        <!--Social Media -->
        <div class="social-animation" onmouseover="mousetopointer(this)">
            <img src="~/assets/images/social/Gmail.png" />
            <h4>alasdsadasds</h4>
        </div>
    </div>
</div>
<h2 class="title title--h2">فرم تماس با من</h2>
<script>
    function mousetopointer(element){
        element.style.cssText +='cursor:pointer';
    }

    function opensocial(socialName){
    switch(socialName) {
    case 'linkedin':
            window.open('http://www.google.com', '_blank');
    break;
    case 'instagram':
    // code block
    break;
    default:
    // code block
     };
    };
</script>
@model TicketViewModel
<form data-toggle="validator" asp-action="sendTicket" asp-controller="home" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="form-group col-12 col-md-6">
            <input type="text" asp-for="Name"  class="input form-control" id="nameContact" name="nameContact" placeholder="نام و نام خانوادگی" required="required" autocomplete="on" oninvalid="setCustomValidity('لطفا نام و نام خانوادگی خود را وارد کنید.')" onkeyup="setCustomValidity('')">
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group col-12 col-md-6">
            <input type="email" asp-for="Email" class="input form-control" id="emailContact" name="emailContact" placeholder="ایمیل" required="required" autocomplete="on" oninvalid="setCustomValidity('ایمیل نادرست است.')" onkeyup="setCustomValidity('')">
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group col-12 col-md-12">
            <textarea asp-for="message" class="textarea form-control" id="messageContact" name="messageContact" placeholder="پیام..." rows="4" required="required" oninvalid="setCustomValidity('لطفا پیام خود را وارد کنید.')" onkeyup="setCustomValidity('')"></textarea>
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 order-2 order-md-1 text-center text-md-start">
            <div id="validator-contact" class="hidden"></div>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2 text-end">
            <button type="submit" class="btn"><i class="font-icon icon-send"></i> ارسال پیام</button>
        </div>
    </div>
</form>

<!-- JavaScripts -->
<script src="~/assets/js/common.js"></script>