<div class="social">
    <a class="social__link" href="https://www.instagram.com/ali.ahmadi.d7/"><i class="fa-brands fa-instagram"></i></a>
    <a class="social__link" href="https://github.com/AliDeV7"><i class="fa-brands fa-github"></i></a>
    <a class="social__link" href="https://www.linkedin.com/in/alidev7/"><i class="fa-brands fa-linkedin"></i></a>
    <a class="social__link" href="https://stackoverflow.com/users/10786639/ali-ahmadi"><i class="fa-brands fa-stack-overflow"></i></a>
    <a class="social__link" href="https://t.me/AliDev77"><i class="fa-brands fa-telegram"></i></a>
    <a class="social__link" href="https://discordapp.com/users/551885099000659978"><i class="fa-brands fa-discord"></i></a>
</div>