<!-- LTR -->
<!DOCTYPE html>
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var cultureName = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.Substring(0, 2).ToLower();
    //var PageTitle = Resources.PageTitle.FirstName;
    //ViewData["Title"] = PageTitle;

    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}
<html lang=cultureName>
<head>
    <meta charset="utf-8" />
    <title>@Resources.PageTitle.Index</title>
    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="author" content="AliAhmadi" />
    <meta name="description" content="Personal Website | Backend Developer" />

    <!-- Twitter data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="Ali Ahmadi">
    <meta name="twitter:title" content="Personal Website | Ali Ahmadi">
    <meta name="twitter:description" content="Ali Ahmadi Personal Website. Asp.Net core, Backend Developer">
    <meta name="twitter:image" content="~/assets/images/my-avatar.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="Ali Ahmadi Personal Website" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://AliDev7.com" />
    <meta property="og:image" content="~/assets/images/my-avatar.png" />
    <meta property="og:description" content="Create Websites and APIs with Asp.Net core Framework. Backend Developer" />
    <meta property="og:site_name" content="Ali Ahmadi | Personal Website" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/images/favicons/AliDev7-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/images/favicons/AliDev7-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/images/favicons/AliDev7-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/images/favicons/AliDev7-icon-57x57.png">
    <link rel="shortcut icon" href="~/assets/images/favicons/favicon.png" type="image/png">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="~/assets/styles/ltr/vendors/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/styles/ltr/style.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/styles/ltr/ltr.css" />

    <!-- Font-awesome -->
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.css" />

</head>
<body>
    <main class="main">
        <div class="container gutter-top gutter-bottom">
            <div class="row sticky-parent">
                <!-- Sidebar -->
                <partial name="../Shared/PartialViews/Ltr/Sidebar" />
                <!-- Content -->
                <div class="col-12 col-md-12 col-xl-9 content">
                    <div class="box-outer">
                        <!-- Menu -->
                        <partial name="../Shared/PartialViews/Ltr/Menu" />
                        <div id="mainDiv">
                            @RenderBody()
                        </div>
                    </div><!-- box-outer -->
                </div><!-- Content -->
            </div><!-- sticky-parent -->
        </div><!-- container -->
    </main>

    <div class="back-to-top"></div>

    <!-- JavaScripts -->
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/plugins.min.js"></script>
    <script src="~/assets/js/common.js"></script>

</body>
</html>